/**** Dialog ****/

/*** Structure ***/
.dialog {
    border: black 1px solid;
    background-color: #ffffff;
    position: absolute;
    z-index: 200;
    display: none;
}
.dialogTitle {
    height: 23px;
    background-color: #0066cc;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    line-height: 23px;
    cursor: default;
}
.dialogCloseButton {
    width: 23px;
    height: 23px;
    float: right;
    background-image: url("img/close.png");
    background-size: contain;
}
.dialogTitle span.dialogCloseButton:hover {
    background-color: #ff3333;
}
.dialogBody {
    clear: both;
    text-align: left;
    padding: 10px;
    font-size: 12px;
    /*background-color: #ffffcc;/**/
}
.dialogResizeHandle {
    position: absolute;
    right: 1px;
    bottom: 1px;
    width: 15px;
    height: 15px;

    background-image: linear-gradient(
        to bottom right, rgba(255,255,255,0) 50%,
        #aaa 52%, #aaa 60%,
        #ddd 62%, #ddd 70%,
        #aaa 72%, #aaa 80%,
        #ddd 82%, #ddd 90%,
        #aaa 92%, #aaa 100%
    );
    background-size: 15px 15px;
    cursor: se-resize;
}

/*** Parts Container in Dialog ***/
div.dialogContainer {
    margin: 0 0 8px 0;
    padding: 0;
    clear: both;
    overflow: hidden;
    /*background-color: #ccccff;/**/
}
div.dialogBody div.dialogContainer:last-child {
    margin: 0;
}
div.dialogSubContainerGroup {
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #ff99cc;/**/
}
div.dialogSubContainerGroupBorder {
    margin: 0;
    padding: 4px;
    border: solid 1px #999999;
    overflow: hidden;
    /*background-color: #ff99cc;/**/
}
div.dialogSubContainer {
    margin: 0 0 4px 0;
    padding: 0;
    clear: both;
    overflow: hidden;
    /*background-color: #ccffff;/**/
}
div.dialogContainer div.dialogSubContainer:last-child {
    margin: 0;
}
.dialogContainerLabel {
    margin: 0 5px 0  0;
    padding: 0;
    line-height: 20px;
    font-weight: bold;
    vertical-align: top;
}
.dialogSubContainerLabel {
    margin: 0 3px 0  0;
    padding: 0;
    line-height: 20px;
    vertical-align: top;
}

.dialogContainer input {
    vertical-align: -1px;
}
.dialogContainerDisabled {
    color: #999999;
}

.dialogContainer input.readonlyInputText {
    background-color: #eeeeee;
    border: solid 1px #666666;
    height: 18px;
}

/*** Tab ***/
.tabContainer {
    margin: 0;
    padding: 0;
    width: 480px;

    height: 300px;
    position: relative;
}
.tab {
    margin: 0;
    padding: 8px;
    position: absolute;

    width: 462px;

    height: 250px;
    top: 23px;
    visibility: hidden;
    clear: both;
    background-color: #ffffff;
    border: solid 1px #000000;
    z-index: 20;
}
.tabLabel {
    margin: 0 4px 0 0;
    padding: 0 5px;
    height: 23px;
    float: left;
    position: relative;
    font-size: 12px;
    text-align: center;
    line-height: 23px;
    overflow: visible;
    background-color: #cccccc;
    border-top: solid 1px #000000;
    border-right: solid 1px #000000;
    border-left: solid 1px #000000;
    z-index: 10;
    user-select: none;
}
label.tabLabel:hover {
    background-color: #ffffcc;
    color: #cc0000;
}
.tabSelected {
    visibility: visible;
}
.tabLabelSelected {
    background-color: #ffffff;
    z-index: 30;
}

/*** Recordset Item List ***/
.itemList {
    margin: 0;
    padding: 0;
    height: 98px;
    border: solid 1px #999999;
    line-height: 14px;
    overflow: auto;
    user-select: none;
}
.itemList table {
    border-spacing: 0;
}
.itemList tr:hover {
    background-color: #ccccff;
    color: #993300;
}

.itemName {
    margin: 0;
    padding: 0;
    width:130px;
}
td.itemName div {
    margin-left: 15px;
    text-indent: -15px;
    word-wrap: break-word;
    word-break: break-all;
}
td.itemIcon {
    margin: 0;
    padding: 0 0 3px 0;
    vertical-align: top;
}
td.itemIcon span {
    margin: 0;
    padding:0 3px;
    font-size: 10px;
    line-height: 14px;
    border-radius: 4px;
}
td.itemIcon span.itemIconTime {
    background-color: #ccffcc;
}
td.itemIcon span.itemIconValue {
    background-color: #ffcc99;
}
td.itemIcon span.itemIconOther {
    background-color: #ffffcc;
}

.selectedItem {
    background-color: #ffcccc;
}

.itemImageButton {
    height:14px;
    width: 22px;
    padding: 2px 16px;
    background-color: #e1e1e1;
    border: solid 1px #adadad;
}
.itemButton {
    margin: 0;
    padding: 0;
    width: 60px;
    height: 24px;
    font-size: 12px;
}

/** Recordset Item Select Menu **/
div.itemRoleMenu {
    margin: 0;
    padding: 0;
    position: absolute;
    display: none;
}
div.itemRoleMenu ul {
    margin: 0;
    padding: 0;
    width: 100px;
    position: absolute;
    white-space: normal;
}
div.itemRoleMenu li {
    width: 100px;
    height: 16px;
    list-style-type: none;
    position: relative;
    border-top: 1px solid #cccccc;
    color: #000000;
    line-height: 18px;
    text-align: left;
    text-decoration: none;
    font-size: 12px;
    display: inline-block;
    cursor: default;
    background-color: #ffffcc;
}
div.itemRoleMenu li:hover {
    background-color: #ccccff;
    color: #cc0000;
}

/*** Source Data Preview Dialog ***/
#dialogSourcePreview {
    overflow: hidden;
}
#dialogSourcePreview div.dialogBody {
    /*height: 157px;*/
    overflow: scroll;
}
#dialogSourcePreview table {
    margin: 0;
    padding: 0;
    border-spacing: 0;
    overflow: hidden;
    border: solid 1px #cccccc;
}
#dialogSourcePreview td {
    margin: 0;
    padding: 2px;
    border: solid 1px #cccccc;
    font-size: 10px;
}


/**** Preferences Dialog ****/
/** List of Layers or Recordset **/
.partsListLabel {
    margin: 2px 0 0 0;
    line-height: 23px;
    clear: both;
}
.partsList {
    margin: 0 0 0 5px;
    width: 270px;
    height: 57px;
    border: solid 1px #000000;
    line-height: 14px;
    overflow: auto;
}


/**** Specific Dialog Settings ****/
#dialogCreate div.dialogSubContainerGroup, div.dialogSubContainerGroupBorder {
    margin: 0 0 0 60px;
}
